# Compiled Object files
*.slo
*.lo
*.o
*.d
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/bin/
build/hime.js

tools/emsdk_portable/clang/
tools/emsdk_portable/emscripten/
tools/emsdk_portable/node/
tools/emsdk_portable/zips/

